<!-- <site-top-bar></site-top-bar> -->
<section class="community-row">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <video class="community-video-background" autoplay="" loop="" muted="">
        <source src="{{community_loop}}" type="video/mp4">
      </video>
      <div class="community-video-background-screen"></div>
    </div>
  </div>
  <div class="mdc-layout-grid community-video-content">
    <h1 class="mdc-typography--headline3 row-heading">Community programs</h1>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <p>Learn new skill through workshops. Become a better developer.</p>
      </div>
    </div>
  </div>
</section>
<section class="landing-row empowerment-landing-row">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 text-align-center">Google’s developer community programs empower
        you to:</h1>
    </div>
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center"><i class="material-icons mdc-button__icon"
          aria-hidden="true">people</i></h1>
    </div>
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner background-row-connect">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="empowerment-row-item">
            <h1 class="mdc-typography--headline3">Connect</h1>
            <p>Meet local developers with the same drive and passion for tech. Build an opportunity for collaboration
              with developers of diverse backgrounds from different industries.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center"><i class="material-icons mdc-button__icon"
          aria-hidden="true">code</i></h1>
    </div>
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner background-row-learn">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="empowerment-row-item">
            <h1 class="mdc-typography--headline3">Learn</h1>
            <p>Broaden your knowledge and enhance your skills by engaging with field leading speakers in tech through
              our hands on workshops and in-person training.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center"><i class="material-icons mdc-button__icon"
          aria-hidden="true">card_travel</i></h1>
    </div>
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner background-row-grow">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="empowerment-row-item">
            <h1 class="mdc-typography--headline3">Grow</h1>
            <p>Apply your new learnings and connections to build great products, advance your skills, career and
              network. Give
              back to your community by helping others learn as well.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer></footer>
