<!-- <site-top-bar></site-top-bar> -->
<section class="community-row">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <video class="community-video-background" autoplay="" loop="" muted="">
        <source src="{{community_loop}}" type="video/mp4">
      </video>
      <div class="community-video-background-screen"></div>
    </div>
  </div>
  <div class="mdc-layout-grid community-video-content">
    <h1 class="mdc-typography--headline3 row-heading">Community programs</h1>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi veniam voluptatibus eius iusto officiis minima
          nostrum placeat tenetur minus voluptates error praesentium blanditiis cum voluptatum, eaque, soluta nulla
          delectus
          dolores.</p>
      </div>
    </div>
  </div>
</section>
<section class="landing-row empowerment-landing-row">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center">Google’s developer community programs empower
        you to:</h1>
    </div>
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center"><i class="material-icons mdc-button__icon"
          aria-hidden="true">android</i></h1>
    </div>
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner background-row-connect">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="empowerment-row-item">
            <h1 class="mdc-typography--headline3">Connect</h1>
            <p>Meet other local developers and those interested in developer technologies. All are welcome, including
              those
              with diverse backgrounds and those from a variety of companies and industries.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center"><i class="material-icons mdc-button__icon"
          aria-hidden="true">android</i></h1>
    </div>
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner background-row-learn">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="empowerment-row-item">
            <h1 class="mdc-typography--headline3">Learn</h1>
            <p>Learn about a wide range of technical topics where you can gain new skills through hands-on workshops and
              in-person training.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center"><i class="material-icons mdc-button__icon"
          aria-hidden="true">android</i></h1>
    </div>
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner background-row-grow">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <div class="empowerment-row-item">
            <h1 class="mdc-typography--headline3">Grow</h1>
            <p>Apply your new learnings and connections to build great products, advance your skills, career and
              network. Give
              back to your community by helping others learn as well.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="landing-row footer">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
          <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
            <li class="mdc-list-item">
              <span class="mdc-list-item__text">GDG Baguio</span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text"><a href="/">About</a></span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text"><a href="/community">Community</a></span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text"><a href="/events">Events</a></span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text"><a href="/team">Team</a></span>
            </li>
          </ul>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
          <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
            <li class="mdc-list-item">
              <span class="mdc-list-item__text">Join the Team</span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text"><a href="">Become a Sponsor</a></span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text"><a href="">Become a volunteer</a></span>
            </li>
          </ul>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
            <li class="mdc-list-item">
              <span class="mdc-list-item__text">Contact Us</span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text"><a href="">Gmail</a></span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <span class="mdc-list-item__text"><a href="">Facebook</a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="landing-row footer-bar">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
          <img src="../../../assets/images/gdgbaguio-logo.png" alt="">
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
          <!-- <p class="copyright"><span>&copy; </span> {{copyright_year}}. Developed by Denmark Macam</p> -->
        </div>
      </div>
    </div>
  </section>
</section>
