<site-top-bar></site-top-bar>
<!-- <section class="community-row">
  <div class="mdc-layout-grid">
    <video class="community-video-background" autoplay="" loop="" muted="">
      <source src="{{community_loop}}" type="video/mp4">
    </video>
  </div>
</section> -->
<section class="landing-row empowerment-landing-row">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell row-heading text-align-center">
      <h1 class="mdc-typography--headline4">Google’s developer community programs empower you to:</h1>
    </div>
    <!-- <div class="mdc-layout-grid__inner"> -->
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner">
      <h1 class="mdc-typography--headline4">Connect</h1>
      Meet other local developers and those interested in developer technologies. All are welcome, including those
      with diverse backgrounds and those from a variety of companies and industries.
    </div>
    <div class="mdc-layout-grid__cell row-heading text-align-center">
      <h1 class="mdc-typography--headline4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    </div>
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner2">
      <h1 class="mdc-typography--headline4 text-align-center">Learn</h1>
      Learn about a wide range of technical topics where you can gain new skills through hands-on workshops and
      in-person training.
    </div>
    <div class="mdc-layout-grid__cell row-heading text-align-center">
      <h1 class="mdc-typography--headline4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    </div>
    <div class="mdc-layout-grid__cell gdgbaguio-community-banner3">
      <h1 class="mdc-typography--headline4 text-align-center">Grow</h1>
      Apply your new learnings and connections to build great products, advance your skills, career and network. Give
      back to your community by helping others learn as well.
    </div>
    <!-- </div> -->
  </div>
</section>
<section>
  <div class="mdc-layout-grid about-landing-row-background">

  </div>
</section>
<section>
  <div class="mdc-layout-grid">
    <!-- <h2 class="row-heading text-align-center">what we do</h2> -->
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias amet atque ducimus pariatur nisi non
        nihil rem a, sapiente eos facere iure fugiat quis blanditiis necessitatibus. At, animi architecto.
      </div>
    </div>
  </div>
</section>
