.community-row {
  position: absolute;
  height: 90%;
  top: 49px;
}

.community-row .mdc-layout-grid:first-child {
  padding: 0;
}

.community-video-background {
  z-index: -1;
  object-fit: cover;
}

.community-video-background-screen {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), transparent);
}

.community-video-background,
.community-video-background-screen {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.community-video-content {
  position: relative;
  bottom: 0;
  padding: 300px 100px 0 100px !important;
}

.community-video-content h1,
.community-video-content p,
.empowerment-row-item h1,
.empowerment-row-item p {
  color: #fff !important;
}

.empowerment-row-item h1,
.empowerment-row-item p {
  text-align: center;
}

.empowerment-row-item p {
  font-size: 24px;
}

.community-video-content p {
  font-size: 1.6em;
}

.empowerment-landing-row {
  position: absolute;
  top: 97%;
  padding: 40px 40px;
}

.empowerment-landing-row,
.empowerment-landing-row>.mdc-layout-grid:first-child {
  padding-left: 0;
  padding-right: 0;
}

.empowerment-landing-row .row-heading {
  margin: 50px auto;
  background: #2196f3;
  width: fit-content;
  padding: 12px;
  border-radius: 50%;
  line-height: 0;
}

.empowerment-landing-row .row-heading i {
  font-size: 1.5em;
  color: #fff;
  line-height: 1em;
}

.gdgbaguio-community-banner {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gdgbaguio-community-banner .mdc-layout-grid__inner {
  padding: 150px 40px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), transparent);
}

.background-row-connect {
  background-image: url('https://raw.githubusercontent.com/error900/gdg-baguio-team/master/community-photo/5.jpg');
}

.background-row-learn {
  background-image: url('https://raw.githubusercontent.com/error900/gdg-baguio-team/master/community-photo/1.jpg');
}

.background-row-grow {
  background-image: url('https://raw.githubusercontent.com/error900/gdg-baguio-team/master/community-photo/9.jpg');
}

@media screen and (max-width: 575px) {
  .community-video-content {
    padding: 200px 16px 0 16px !important;
  }

  .empowerment-landing-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .empowerment-row-item h1 {
    font-size: 2em;
  }

  .empowerment-row-item p {
    font-size: 18px;
  }
}
