<section class="landing-row footer">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
          <li class="mdc-list-item">
            <span class="mdc-list-item__text">GDG Baguio</span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="/">About</a></span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="/community">Community</a></span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="/events">Events</a></span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="/team">Team</a></span>
          </li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
          <li class="mdc-list-item">
            <span class="mdc-list-item__text">Join the Team</span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="application/sponsor">Become a Sponsor</a></span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="application/Speaker">Become a Speaker</a></span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="application/volunteer">Become a Volunteer</a></span>
          </li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
          <li class="mdc-list-item">
            <span class="mdc-list-item__text">Contact Us</span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="">Gmail</a></span>
          </li>
          <li class="mdc-list-item" role="menuitem">
            <span class="mdc-list-item__text"><a href="">Facebook</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="landing-row footer-bar">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <img src="../../../assets/images/gdgbaguio-logo.png" alt="">
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
        <!-- <p class="copyright"><span>&copy; </span> {{copyright_year}}. Developed by Denmark Macam</p> -->
      </div>
    </div>
  </div>
</section>
