<header id="site-top-bar" class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <!-- <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button> -->
      <a class="mdc-top-app-bar__title" [routerLink]="['/']">
        <img class="gdgbaguio" src="{{gdgbaguio_logo}}" alt="gdgbaguio">
      </a>
      <div class="top-bar-nav">
        <div id="community-menu-surface-link" class="nav-link">
          <a [routerLink]="['/community']">Community</a>
          <a id="community-menu-surface-icon"><i class="material-icons mdc-button__icon"
              aria-hidden="true">arrow_drop_down</i></a>
          <div class="mdc-menu-surface--anchor">
            <!-- <button id="community-menu-surface-button" class="mdc-button"></button> -->
            <div id="community-mdc-menu" class="mdc-menu mdc-menu-surface">
              <div class="menu-dropdown-content">
                <div class="menu-drowpdown-column">
                  <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                    <li class="mdc-list-item">
                      <span class="mdc-list-item__text">Develop</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Android</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Cloud Platform</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Firebase</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Flutter</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Google Assistant</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Maps Platform</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">TensorFlow</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Web</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">YouTube</a></span>
                    </li>
                  </ul>
                </div>
                <div class="menu-drowpdown-column">
                  <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                    <li class="mdc-list-item">
                      <span class="mdc-list-item__text">Grow</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Firebase</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Google Ads</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Google Analytics</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Google Play</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Search</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Web Push and Notification APIs</a></span>
                    </li>
                  </ul>
                </div>
                <div class="menu-drowpdown-column">
                  <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                    <li class="mdc-list-item">
                      <span class="mdc-list-item__text">Earn</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">AdMob</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Google Ads API</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Google Pay</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Google Play Billing</a></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><a href="">Interactive Media Ads</a></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-link">
          <a [routerLink]="['/events']">Events</a>
        </div>
        <div class="nav-link">
          <a [routerLink]="['/team']">Team</a>
        </div>
      </div>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <div *ngIf="auth.user$ | async as user; else showSignInButton">
        <button id="account-button"
          class="mdc-icon-button mdc-icon-button--on google-account-icon-button mdc-top-app-bar__action-item--unbounded"
          aria-label="Google account" aria-pressed="true">
          <img src="{{user.photoURL}}" class="mdc-icon-button__icon" />
          <img src="{{user.photoURL}}" class="mdc-icon-button__icon mdc-icon-button__icon--on" />
        </button>
      </div>
      <ng-template #showSignInButton>
        <button class="mdc-button" (click)=auth.googleLogin()> <span class="mdc-button__ripple"></span> Sign in</button>
      </ng-template>

      <div class="mdc-menu-surface--anchor">
        <div id="account-mdc-menu" class="mdc-menu mdc-menu-surface">
          <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
            <li class="mdc-list-item" role="menuitem">
              <span [routerLink]="['/dashboard/meetup-events']" class="mdc-list-item__text">Meeup</span>
            </li>
            <li class="mdc-list-item" role="menuitem">
              <button id="signout-button" class="mdc-button mdc-button--outlined" (click)="auth.signOut()">
                <span class="mdc-button__ripple"></span> Sign out</button>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</header>
