.mdc-top-app-bar {
  background-color: #fff;
  border-bottom: 1px solid #bdc1c6;
  top: 0;
}

.mdc-top-app-bar__row {
  height: 48px;
}

.mdc-top-app-bar__section {
  width: 100%;
  padding: 0 24px;
}

.mdc-top-app-bar__title {
  padding-left: 0;
}

.top-bar-nav {
  height: 100%;
  margin-left: 50px;
  display: flex;
}

.nav-link {
  padding: 0 18px;
  // height: inherit;
}

// .nav-link:first-child {
//   padding-right: 0;
// }

// .nav-link .mdc-menu-surface--anchor button {
//   height: inherit;
// }

.nav-link {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.nav-link a {
  // margin-top: 19px;
  display: block;
  // height: inherit;
}

.nav-link>a::after {
  position: relative;
  left: 0;
  bottom: -1px;
  display: block;
  background: transparent;
  border-radius: 3px 3px 0 0;
  height: 3px;
  content: "";
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link:hover>a::after {
  background: #5f6368;
}

#community-menu-surface-icon::after {
  background: unset !important;
  height: 0 !important;
}

.nav-link a,
.nav-link .mdc-menu-surface--anchor button {
  color: #5f6368 !important;
  text-transform: initial;
  font-weight: 500;
  line-height: 45px;
}

a#community-menu-surface-icon i {
  transform: rotate(0deg);
  transition: .2s,
}

#community-menu-surface-link:hover>a#community-menu-surface-icon i {
  transform: rotate(-180deg);
  transition: .2s,
}

#community-mdc-menu,
#apps-mdc-menu {
  top: 24px !important;
  left: -120px !important;
  border-radius: 0;
  border-top: 1px solid #bdc1c6;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15), inset 0 4px 6px -4px rgba(154, 160, 166, .5);
}

#apps-mdc-menu {
  top: 48px !important;
}

.menu-dropdown-content {
  display: flex;
  padding: 0 12px;
}

.menu-drowpdown-column>ul>li:hover::before {
  opacity: 0;
}

.menu-drowpdown-column>ul>li:first-child {
  font-weight: 500;
}

.menu-drowpdown-column>ul>li>span>a {
  font-weight: unset !important;
}

.menu-drowpdown-column>ul>li:hover>span>a {
  color: #2196f3 !important;
}

#community-mdc-menu .menu-drowpdown-column ul,
#apps-mdc-menu>ul {
  padding: 0;
}

#community-mdc-menu .menu-drowpdown-column>ul>li>span,
#apps-mdc-menu>ul>li>span {
  font-size: 13px;
}

#community-menu-surface-icon {
  padding-right: 12px;
  line-height: 18px;
}

#community-menu-surface-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  
}
