<section class="landing-row application-row">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell mobile-only">
      <h1 *ngIf="application_type == 'sponsor'" class="mdc-typography--headline4 row-heading">Become a Sponsor</h1>
      <h1 *ngIf="application_type == 'speaker'" class="mdc-typography--headline4 row-heading">Become a Speaker</h1>
      <h1 *ngIf="application_type == 'volunteer'" class="mdc-typography--headline4 row-heading">Become a Volunteer</h1>
      <div *ngIf="application_type == 'wtm'" class="application-header-container">
        <img src="{{wtm_logo}}" alt="">
        <h2 class="mdc-typography--headline4">Join the movement</h2>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="text-field-container">
          <input type="hidden" id="applicantion-type">
          <div class="mdc-text-field">
            <input class="mdc-text-field__input" id="applicant-full-name">
            <div class="mdc-line-ripple"></div>
            <label for="applicant-full-name" class="mdc-floating-label">Full Name</label>
          </div>
          <div class="mdc-text-field">
            <input class="mdc-text-field__input" id="applicant-company-school">
            <div class="mdc-line-ripple"></div>
            <label for="applicant-company-school" class="mdc-floating-label">Company / School</label>
          </div>
          <div class="mdc-text-field">
            <input class="mdc-text-field__input" id="applicant-position-profession">
            <div class="mdc-line-ripple"></div>
            <label for="applicant-position-profession" class="mdc-floating-label">Position / Profession</label>
          </div>
          <div class="mdc-text-field">
            <input class="mdc-text-field__input" id="applicant-mobile-number" maxlength="11"
              aria-describedby="applicant-mobile-number-helper-text">
            <div class="mdc-line-ripple"></div>
            <label for="applicant-mobile-number" class="mdc-floating-label">Mobile Number</label>
          </div>
          <div class="mdc-text-field-helper-line">
            <!-- <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"
              id="applicant-mobile-number-helper-text">Helper Text</p> -->
            <div class="mdc-text-field-character-counter">0 / 11</div>
          </div>
          <div class="mdc-text-field">
            <input class="mdc-text-field__input" id="applicant-email">
            <div class="mdc-line-ripple"></div>
            <label for="applicant-email" class="mdc-floating-label">Email Address</label>
          </div>
          <div class="mdc-text-field text-field mdc-text-field--textarea">
            <div class="mdc-text-field-character-counter">0 / 250</div><textarea id="textarea-2d"
              class="mdc-text-field__input" maxlength="250"></textarea>
            <div class="mdc-notched-outline mdc-notched-outline--upgraded">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch"><label class="mdc-floating-label" for="textarea-2d">
                  Message</label></div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
          </div>
          <div class="mdc-text-field-helper-line">
            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"
              id="textarea-2d-helper-text">Helper Text</p>
          </div>
        </div>

        <button href="application/speaker" class="mdc-button mdc-button--unelevated"> <span
            class="mdc-button__ripple"></span> Submit</button>
      </div>
      <div *ngIf="application_type == 'sponsor'"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
        <h2 class="mdc-typography--headline4 desktop-only">Sponsorship</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa culpa explicabo amet blanditiis neque at
          maiores a magnam sed deleniti nam earum accusamus obcaecati, iusto quibusdam impedit, delectus perspiciatis?
        </p>
      </div>
      <div *ngIf="application_type == 'speaker'"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
        <h2 class="mdc-typography--headline4 desktop-only">Become a Speaker</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa culpa explicabo amet blanditiis neque at
          maiores a magnam sed deleniti nam earum accusamus obcaecati, iusto quibusdam impedit, delectus perspiciatis?
        </p>
      </div>
      <div *ngIf="application_type == 'volunteer'"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
        <h2 class="mdc-typography--headline4 desktop-only">Become a Volunteer</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa culpa explicabo amet blanditiis neque at
          maiores a magnam sed deleniti nam earum accusamus obcaecati, iusto quibusdam impedit, delectus perspiciatis?
        </p>
      </div>
      <div *ngIf="application_type == 'wtm'"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="application-header-container">
          <img src="{{wtm}}" alt="">
          <h2 class="mdc-typography--headline4 desktop-only">Join the movement</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa culpa explicabo amet blanditiis neque at
          maiores a magnam sed deleniti nam earum accusamus obcaecati, iusto quibusdam impedit, delectus perspiciatis?
        </p>
      </div>
    </div>
  </div>
</section>
