<div class="mdc-card basic-with-text-over-media">
  <div class="mdc-card__primary-action card__primary-action" tabindex="0">
    <div *ngIf="upcomingEvents_count || upcomingEvents_count!=0"
      class="mdc-card__media mdc-card__media--16-9 card__media meetup-card-background">
      <div class="mdc-card__media-content card__media-content">
        <div class="card__primary">
          <h2 class="card__title mdc-typography mdc-typography--headline6 meetup-card-draft-ongoing-title">Upcoming
            event name</h2>
        </div>
      </div>
    </div>
    <div *ngIf="!upcomingEvents_count || upcomingEvents_count==0"
      class="mdc-card__media mdc-card__media--16-9 card__media meetup-loading">
      <div class="mdc-card__media-content card__media-content">
        <div class="card__primary">
          <h2 class="card__title mdc-typography mdc-typography--headline6">
            Nothing published.</h2>
        </div>
      </div>
    </div>
    <div class="card__secondary mdc-typography mdc-typography--body2">local_date</div>
  </div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <button class="mdc-button mdc-card__action mdc-card__action--button"> <span class="mdc-button__ripple"></span>
        Action</button>
    </div>
    <div class="mdc-card__action-icons">
      <div class="mdc-card__action-icons">
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="Edit"
          data-mdc-ripple-is-unbounded="true">create</button>
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded"
          title="More options" data-mdc-ripple-is-unbounded="true">more_vert</button>
      </div>
    </div>
  </div>
</div>
