<!-- <site-top-bar></site-top-bar> -->
<section class="landing-row about-landing-row">
  <div class="mdc-layout-grid about-landing-row-background">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 gdgbaguio-about-banner">
      <!-- <img src="{{gdg_baguio_banner}}" alt=""> -->
    </div>
  </div>
  <div class="mdc-layout-grid about-landing-row-content">
    <h1 class="mdc-typography--headline3 row-heading">what we're about</h1>
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-mobile">
        <p>GDG Baguio is a group of diverse developers who are very much interested in learning and experimenting on
          different and powerful Google Technologies. We are spreading our love and support for Google Technologies by
          conducting different events, seminars, and codelabs to help fellow developers kickstart their journey in
          using these Technologies.</p>
        <p>Disclaimer: GDG Baguio is an independent group; our activities and the opinions expressed here should in no
          way be linked to Google, the corporation. To learn more about the GDG program, visit
        </p>
        <p>
          <button onclick="window.open('https://developers.google.com/community/gdg', '_blank');"
            class="mdc-button mdc-button--unelevated desktop-only"> <span class="mdc-button__ripple"></span>
            developers.google.com/groups</button>
          <button onclick="window.open('https://developers.google.com/community/gdg', '_blank');"
            class="mdc-button mdc-button--unelevated mobile-only"> <span class="mdc-button__ripple"></span>
            gdg/groups</button>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="landing-row what-we-do-landing-row background-grey">
  <div class="mdc-layout-grid">
    <!-- <h2 class="row-heading text-align-center">what we do</h2> -->
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-mobile">
        <div class="what-we-do-content">
          <div class="what-we-do-item">
            <div class="item-logo">
              <img src="{{talks}}" alt="">
            </div>
            <div class="item-text-container text-align-center">
              <h3 class="item-header">Talks</h3>
              <p class="item-description">Get updated with the latest news and announcements</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-mobile">
        <div class="what-we-do-content">
          <div class="what-we-do-item">
            <div class="item-logo">
              <img src="{{codelabs}}" alt="">
            </div>
            <div class="item-text-container text-align-center">
              <h3 class="item-header">Codelabs</h3>
              <p class="item-description">Get hands-on activity and mentors to guide you</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-mobile">
        <div class="what-we-do-content">
          <div class="what-we-do-item">
            <div class="item-logo">
              <img src="{{roadshow}}" alt="">
            </div>
            <div class="item-text-container text-align-center">
              <h3 class="item-header">Roadshows</h3>
              <p class="item-description">Share knowledge in different colleges and universities</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-mobile">
        <div class="what-we-do-content">
          <div class="what-we-do-item">
            <div class="item-logo">
              <img src="{{live_viewing}}" alt="">
            </div>
            <div class="item-text-container text-align-center">
              <h3 class="item-header">Live Viewing Parties</h3>
              <p class="item-description">Watch a live Google event happening in different countries</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="landing-row events-landing-row background-white">
  <div *ngIf="firestoreOngoingEvents && ongoingEvents_count!=0" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Today</h1>
    </div>
    <div *ngFor="let firestoreOngoingEvents of firestoreOngoingEvents"
      class="mdc-layout-grid__inner planned-events-row">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
        <img src="{{firestoreOngoingEvents.featured_photo.highres_link}}" alt="featured photo">
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
        <h1 class="mdc-typography--headline5"><a
            href="events/{{firestoreOngoingEvents.id}}">{{firestoreOngoingEvents.name}}</a></h1>
        <div class="location desktop-only">
          <i class="material-icons mdc-button__icon">location_on</i>
          <div>
            <span>{{firestoreOngoingEvents.venue.name}}</span> <br>
            <span>{{firestoreOngoingEvents.venue.address_1}} {{firestoreOngoingEvents.venue.city}},
              {{firestoreOngoingEvents.venue.localized_country_name}}</span>
          </div>
        </div>
        <div class="event-date desktop-only"><i class="material-icons mdc-button__icon">calendar_today</i>
          <span>{{firestoreOngoingEvents.local_date}}</span></div>
        <div class="event-description" [innerHTML]="firestoreOngoingEvents.description"></div>
        <div class="meetup-event-link">
          <a href="{{firestoreOngoingEvents.link}}" target="_blank" class="mdc-button mdc-button--unelevated">
            <span class="mdc-button__ripple"></span> Register now</a>
          <a href="{{firestoreOngoingEvents.link}}" target="_blank" class="mdc-button mdc-button--unelevated">
            <span class="mdc-button__ripple"></span> Join the waitlist</a>
          <a href="events/{{firestoreOngoingEvents.id}}" class="mdc-button mdc-card__action mdc-card__action--button">
            <span class="mdc-button__ripple"></span>
            <i class="material-icons mdc-button__icon">more_horiz</i> <span class="mdc-button__label">Read
              more</span></a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="firestoreUpcomingEvents" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Events</h1>
      <button class="mdc-button"> <span class="mdc-button__ripple"></span> View all</button>
    </div>

    <div class="mdc-layout-grid__inner">
      <div *ngFor="let firestoreUpcomingEvent of firestoreUpcomingEvents"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-card">
          <!-- <div class="mdc-card__primary-action card__primary-action" tabindex="0"> -->
          <div class="mdc-card__media mdc-card__media--16-9 meetup-card-background"
            [ngStyle]="{'background-image': 'url(' + firestoreUpcomingEvent.featured_photo.highres_link + ')'}">
          </div>
          <div class="card__primary">
            <h2 class="card__title mdc-typography mdc-typography--headline6 event-name">
              <a href="events/{{firestoreUpcomingEvent.id}}">{{firestoreUpcomingEvent.name}}</a>
            </h2>
          </div>
          <div [innerHTML]="firestoreUpcomingEvent.description"
            class="card__secondary mdc-typography mdc-typography--body2 recent-event-description"></div>
          <!-- </div> -->
          <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
              <a *ngIf="showRegisterButton" href="{{firestoreUpcomingEvent.link}}" target="_blank"
                class="mdc-button mdc-button--unelevated">
                <span class="mdc-button__ripple"></span> Register now</a>
              <a *ngIf="showWaitlistButton" href="{{firestoreUpcomingEvent.link}}" target="_blank"
                class="mdc-button mdc-button--unelevated">
                <span class="mdc-button__ripple"></span> Join the waitlist</a>
              <a href="events/{{firestoreUpcomingEvent.id}}"
                class="mdc-button mdc-card__action mdc-card__action--button">
                <span class="mdc-button__ripple"></span>
                <i class="material-icons mdc-button__icon desktop-only">more_horiz</i> <span
                  class="mdc-button__label">Read
                  more</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!firestoreUpcomingEvents && !firestoreOngoingEvents" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Events</h1>
      <p>No ongoing or upcoming events</p>
    </div>
  </div>
</section>
<section class="landing-row background-grey">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
        <img src="https://raw.githubusercontent.com/error900/gdg-baguio-team/master/community-photo/2.jpg" alt="">
      </div>
      <div
        class="mdc-layout-grid__cell meet-the-team mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
        <h2 class="mdc-typography--headline4">Meet the Team</h2>
        <p>We would like to introduce to you the people that help in making all our awesome events possible, from the
          preparation to the setup of the places we use to connect with the developers in our community!
        </p>
        <br>
        <a href="application/speaker" class="mdc-button mdc-button--unelevated request-speaker-button button-lg"> <span
            class="mdc-button__ripple"></span> Request Speakers</a>
        <!-- <ng-template #showSignInButton>
          <a href="login" class="mdc-button mdc-button--unelevated request-speaker-button button-lg"> <span
              class="mdc-button__ripple"></span> Request a
            Speaker</a>
        </ng-template> -->
      </div>
    </div>
  </div>
</section>
<section class="landing-row background-white">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="wtm">
          <img src="{{wtm}}" alt="">
          <br>
          <p>Join the global conversation of women in technology.</p>
          <br>
          <a href="application/wtm" class="mdc-button mdc-button--unelevated wtm-button button-lg"> <span
              class="mdc-button__ripple"></span> Apply to
            join</a>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="wtm-ambassador-photo">
          <img src="{{womentechmakers_ambassador_photo}}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="landing-row volunteer-row background-dark">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
        <h2 class="mdc-typography--headline4">Be part of the growing community</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa culpa explicabo amet blanditiis neque at
          maiores a magnam sed deleniti nam earum accusamus obcaecati, iusto quibusdam impedit, delectus perspiciatis?
        </p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="application/volunteer" class="mdc-button mdc-button--unelevated volunteer-button button-lg"> <span
            class="mdc-button__ripple"></span>
          Become a
          Volunteer</a>
      </div>
    </div>
  </div>
</section>
<section class="landing-row google-technologies-landing-row background-white">
  <div class="mdc-layout-grid">
    <h2 class="row-heading mdc-typography--headline4 text-align-center">Google Technologies</h2>
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{android_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Android</h3>
              <p class="item-description">Get your apps ready for the latest version of Android.</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-dekstop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{firebase_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Firebase</h3>
              <p class="item-description">The tools and infrastructure you need to build better mobile and web apps,
                improve app quality, and grow your business.</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{cloud_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Cloud</h3>
              <p class="item-description">Everything you need to build and scale your enterprise, securely</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{cardboard_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Cardboard</h3>
              <p class="item-description">The open source Cardboard SDK allows you to build immersive cross-platform
                VR experiences for Android and iOS.</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{angular_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Angular</h3>
              <p class="item-description">Learn one way to build applications with Angular and reuse your code and
                abilities to build apps for any deployment target. For web, mobile web, native mobile and native
                desktop.</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{kotlin_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Kotlin</h3>
              <p class="item-description">Kotlin is a cross-platform, statically typed, general-purpose programming
                language with type inference.</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{md_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Material Design</h3>
              <p class="item-description">Design. Create intuitive and beautiful products with Material Design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            fugiat molestias magni nostrum tenetur placeat fuga reiciendis culpa temporibus eum.</span></div>
        <div class="mdc-layout-grid__cell"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            fugiat molestias magni nostrum tenetur placeat fuga reiciendis culpa temporibus eum.</span></div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      fugiat molestias magni nostrum tenetur placeat fuga reiciendis culpa temporibus eum.</div>
    <div class="mdc-layout-grid__cell">
      <div class="mdc-text-field">
        <input type="text" id="my-text-field1" class="mdc-text-field__input first-name-input">
        <div class="mdc-line-ripple"></div>
        <label class="mdc-floating-label" for="my-text-field">First name</label>
      </div>
      <div class="mdc-text-field">
        <input type="text" id="my-text-field2" class="mdc-text-field__input last-name-input">
        <div class="mdc-line-ripple"></div>
        <label class="mdc-floating-label" for="my-text-field">Last name</label>
      </div>
      <label class="mdc-text-field">
        <div class="mdc-text-field__ripple"></div>
        <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
        <span class="mdc-floating-label" id="my-label-id">Hint text</span>
        <div class="mdc-line-ripple"></div>
      </label>
      <br>
      <button id="greet-button" class="mdc-button mdc-button--raised"> <span class="mdc-button__ripple"></span>
        Greet</button>
      <div class="mdc-typography mdc-typography--overline greet-message"></div>
    </div>
  </div>
</div> -->

<!-- <footer-bar>sdfsahdg</footer-bar> -->
