<app-top-bar></app-top-bar>
<section class="landing-row about-landing-row">
  <div class="mdc-layout-grid about-landing-row-background">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop gdgbaguio-about-banner">
      <!-- <img src="{{gdg_baguio_banner}}" alt=""> -->
    </div>
  </div>
  <div class="mdc-layout-grid about-landing-row-content">
    <h1 class="mdc-typography--headline3 row-heading">what we're about</h1>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
        <p>GDG Baguio is a group of diverse developers who are very much interested in learning and experimenting on
          different and powerful Google Technologies. We are spreading our love and support for Google Technologies by
          conducting different events, seminars, and codelabs to help fellow developers kickstart their journey in
          using these Technologies.</p>
        <p>Disclaimer: GDG Baguio is an independent group; our activities and the opinions expressed here should in no
          way be linked to Google, the corporation. To learn more about the GDG program, visit
        </p>
        <p>
          <button onclick="window.open('https://developers.google.com/community/gdg', '_blank');" class="mdc-button mdc-button--unelevated"> <span class="mdc-button__ripple"></span>
            developers.google.com/groups</button>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="landing-row what-we-do-landing-row background-grey">
  <div class="mdc-layout-grid">
    <!-- <h2 class="row-heading text-align-center">what we do</h2> -->
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="what-we-do-content">
          <div class="what-we-do-item">
            <div class="item-logo">
              <img src="{{activities_img}}" alt="">
            </div>
            <div class="item-text-container text-align-center">
              <h3 class="item-header">Talks</h3>
              <p class="item-description">Get updated with the latest news and announcements</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="what-we-do-content">
          <div class="what-we-do-item">
            <div class="item-logo">
              <img src="{{activities_img}}" alt="">
            </div>
            <div class="item-text-container text-align-center">
              <h3 class="item-header">Codelabs</h3>
              <p class="item-description">Get hands-on activity and mentors to guide you</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="what-we-do-content">
          <div class="what-we-do-item">
            <div class="item-logo">
              <img src="{{activities_img}}" alt="">
            </div>
            <div class="item-text-container text-align-center">
              <h3 class="item-header">Roadshows</h3>
              <p class="item-description">Share knowledge in different colleges and universities</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="what-we-do-content">
          <div class="what-we-do-item">
            <div class="item-logo">
              <img src="{{activities_img}}" alt="">
            </div>
            <div class="item-text-container text-align-center">
              <h3 class="item-header">Live Viewing Parties</h3>
              <p class="item-description">Watch a live Google event happening in different countries</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="landing-row google-technologies-landing-row background-white">
  <div class="mdc-layout-grid">
    <h2 class="row-heading text-align-center">Google Technologies</h2>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{android_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Android</h3>
              <p class="item-description">Get your apps ready for the latest version of Android.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{firebase_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Firebase</h3>
              <p class="item-description">The tools and infrastructure you need to build better mobile and web apps,
                improve app quality, and grow your business.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{cloud_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Cloud</h3>
              <p class="item-description">Everything you need to build and scale your enterprise, securely</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{cardboard_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Cardboard</h3>
              <p class="item-description">The open source Cardboard SDK allows you to build immersive cross-platform
                VR experiences for Android and iOS.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{angular_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Angular</h3>
              <p class="item-description">Learn one way to build applications with Angular and reuse your code and
                abilities to build apps for any deployment target. For web, mobile web, native mobile and native
                desktop.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{kotlin_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Kotlin</h3>
              <p class="item-description">Kotlin is a cross-platform, statically typed, general-purpose programming
                language with type inference.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
        <div class="google-technologies-content">
          <div class="google-technologies-item">
            <div class="item-logo">
              <img src="{{md_logo}}" alt="">
            </div>
            <div class="item-text-container">
              <h3 class="item-header">Material Design</h3>
              <p class="item-description">Design. Create intuitive and beautiful products with Material Design.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            fugiat molestias magni nostrum tenetur placeat fuga reiciendis culpa temporibus eum.</span></div>
        <div class="mdc-layout-grid__cell"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            fugiat molestias magni nostrum tenetur placeat fuga reiciendis culpa temporibus eum.</span></div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      fugiat molestias magni nostrum tenetur placeat fuga reiciendis culpa temporibus eum.</div>
    <div class="mdc-layout-grid__cell">
      <div class="mdc-text-field">
        <input type="text" id="my-text-field1" class="mdc-text-field__input first-name-input">
        <label class="mdc-floating-label" for="my-text-field">First name</label>
        <div class="mdc-line-ripple"></div>
      </div>
      <div class="mdc-text-field">
        <input type="text" id="my-text-field2" class="mdc-text-field__input last-name-input">
        <label class="mdc-floating-label" for="my-text-field">Last name</label>
        <div class="mdc-line-ripple"></div>
      </div>
      <br>
      <button class="mdc-button mdc-button--raised greet-button"> <span class="mdc-button__ripple"></span>
        Greet</button>
      <div class="mdc-typography mdc-typography--overline greet-message"></div>
    </div>
  </div>
</div> -->
