@import './events/events.component.scss';

.about-landing-row {
  margin-top: 48px;
  padding-top: 75px;
  padding-bottom: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.65), transparent);
}

.about-landing-row-content {
  position: relative;
  padding: 180px 40px 40px;
}

.about-landing-row-content h1,
.about-landing-row-content div div p {
  color: #fff !important;
}

.about-landing-row-content div div p {
  font-size: 18px;
}

.about-landing-row-background .mdc-layout-grid__cell {
  position: absolute;
  width: 100%;
  left: 0;
  top: 48px;
  z-index: -1;
}

// .about-landing-row-background .mdc-layout-grid__cell img {
//   // max-width: 100%;
// }

.gdgbaguio-about-banner {
  background-image: url('https://raw.githubusercontent.com/error900/gdg-baguio-team/master/community-photo/3.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what-we-do-landing-row {
  padding: 45px 60px !important;
}

// .what-we-do-content {}

.item-logo {
  height: 100px;
  width: 100px;
  margin: 0 auto 20px;
}

.item-logo img {
  height: 100px;
  width: 100px;
}

.item-header {
  font-size: 24px;
}

.google-technologies-item {
  display: flex;
}

.google-technologies-item .item-logo {
  flex: 1;
}

.google-technologies-item .item-text-container {
  flex: 2;
}

.events-landing-row {
  margin-top: 0 !important;
}

.mdc-card {
  border-radius: 8px;
  border: 1px solid #dadce0;
}

.meetup-card-background {
  background-size: 100%;
  background-position-y: unset;
}

.event-name {
  font-size: 26px !important;
}

.recent-event-description {
  font-size: 16px !important;
}

.background-dark h2,
.background-dark p {
  color: #fff !important;
}

.wtm-ambassador-container {
  width: fit-content;
  margin: 0 auto;
}

.wtm img {
  padding-bottom: 30px;
  height: 66px;
}

.wtm p {
  font-size: 20px;
}

.wtm-ambassador-photo {
  width: fit-content;
  margin: 0 auto;
}

.wtm-ambassador-photo img {
  height: 270px;
  border-radius: 50%;
}

@media screen and (max-width: 575px) {
  .button-lg {
    width: 100%;
  }
}