<header id="admin-top-app-bar" class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon"> menu</button><span
        class="mdc-top-app-bar__title">Dashboard</span>
      <!-- <button class="mdc-top-app-bar__navigation-icon mdc-icon-button material-icons" href="#">menu</button> -->
    </section>
    <!-- <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end"> -->
    <section *ngIf="auth.user$ | async as user" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <!-- <pre>{{ user | json }}</pre> -->

      <!-- {{user.email}} -->
      <!-- <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
          aria-label="Bookmark this page">bookmark</button> -->
      <!-- <button id="signout-button" class="mdc-button">
        <span class="mdc-button__ripple"></span> {{user.displayName}}</button> -->
      <button class="mdc-icon-button mdc-icon-button--on google-account-icon-button" aria-label="Google account" aria-pressed="true">
        <img src="{{user.photoURL}}" class="mdc-icon-button__icon" />
        <img src="{{user.photoURL}}" class="mdc-icon-button__icon mdc-icon-button__icon--on" />
      </button>
      <button id="signout-button" class="mdc-button mdc-button--outlined" (click)="auth.signOut()">
        <span class="mdc-button__ripple"></span> Sign out</button>
    </section>
  </div>
</header>
