<app-top-bar></app-top-bar>
<section class="landing-row team-landing-row">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center">Core Team</h1>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{van_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Vanessa May Orpilla</h1>
          <p>Community Manager <br> Corporate Relations & Partnership Head</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{placeholder}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Roselle Angelica Gumnad</h1>
          <p>Community Manager</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{placeholder}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Reymart Canuel</h1>
          <p>Lead volunteer</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{kim_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Kimberly Joyce De Guzman</h1>
          <p>Women Techmaker Ambassador</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{macs_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Denmark Macam</h1>
          <p>MIMI-yuuUUuHhhHH aaAAhHHHh yeEaHh~</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{vj_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Verne Jules Cabading</h1>
          <p>Tech Development Associate</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{placeholder}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Bryan Ribo</h1>
          <p>Tech Development Associate</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{placeholder}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Kurt Renzo Acosta</h1>
          <p>Tech Development Associate</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{jude_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Judelyn Vargas</h1>
          <p>Tech Development Associate</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{janine_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Janine Fernandez</h1>
          <p>Logistics Lead</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{yanyan_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Dianaralene Derrada</h1>
          <p>Programs and Logistics Associate</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{karl_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Karl Las-sin</h1>
          <p>Communications Associate</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{clint_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Clinton Mendoza</h1>
          <p>Communications Associate</p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
        <div class="community-member-photo">
          <img src="{{clifford_photo}}" alt="">
          <div class="links">
            <a href=""><img src="../../../assets/images/icons/twitter.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/linkedin.svg" alt=""></a>
            <a href=""><img src="../../../assets/images/icons/github.svg" alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6">Clifford Mcrey Benbinen</h1>
          <p>Documentations Head</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <nav>
    <a routerLink="users" class="btn btn-primary active" role="button" routerLinkActive="active">Users</a>
    <a routerLink="adduser" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
  </nav>
</div> -->
