<!-- <site-top-bar></site-top-bar>  -->
<section class="landing-row team-landing-row">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading text-align-center">Core Team</h1>
      <p class="core-team-intro">We would like to introduce to you the people that help in making all our awesome events possible, from the
        preparation to the setup of the places we use to connect with the developers in our community!</p>
    </div>
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{van_photo}}" alt="">
          <div class="links">
            <a href="https://twitter.com/HeyVaaan"><img [src]=sanitizeUrl(twitter_icon) alt=""></a>
            <a href="https://www.linkedin.com/in/vanessa-may-orpilla-79180a66/"><img [src]=sanitizeUrl(linkedin_icon)
                alt=""></a>
            <a href="https://github.com/vanessamaytalosigorpilla"><img [src]=sanitizeUrl(github_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Vanessa May Orpilla</h1>
          <p>Community Manager <br> Corporate Relations & Partnership Head</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{roselle_photo}}" alt="">
          <div class="links">
            <a href="https://www.linkedin.com/in/roselle-angelica-gumnad/"><img [src]=sanitizeUrl(linkedin_icon)
                alt=""></a>
            <a href="https://github.com/rosellegumnad"><img [src]=sanitizeUrl(github_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Roselle Angelica Gumnad</h1>
          <p>Community Manager</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{reymart_photo}}" alt="">
          <div class="links">
            <a href="https://twitter.com/rcanu"><img [src]=sanitizeUrl(twitter_icon) alt=""></a>
            <a href="https://www.linkedin.com/in/rcanu/"><img [src]=sanitizeUrl(linkedin_icon) alt=""></a>
            <a href="https://github.com/rcanu"><img [src]=sanitizeUrl(github_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Reymart Canuel</h1>
          <p>Lead volunteer</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{kim_photo}}" alt="">
          <div class="links">
            <a href="https://twitter.com/kripy_kim"><img [src]=sanitizeUrl(twitter_icon) alt=""></a>
            <a href="https://www.linkedin.com/in/kimberly-joyce-de-guzman-4b34b9104/"><img
                [src]=sanitizeUrl(linkedin_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Kimberly Joyce De Guzman</h1>
          <p>Women Techmaker Ambassador</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{macs_photo}}" alt="">
          <div class="links">
            <a href="https://twitter.com/error900_"><img [src]=sanitizeUrl(twitter_icon) alt=""></a>
            <a href="https://www.linkedin.com/in/denmark-macam-82504792"><img [src]=sanitizeUrl(linkedin_icon)
                alt=""></a>
            <a href="https://github.com/error900"><img [src]=sanitizeUrl(github_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Denmark Macam</h1>
          <p>Tech Development Head</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{vj_photo}}" alt="">
          <div class="links">
            <a href="https://www.linkedin.com/in/vernejules/"><img [src]=sanitizeUrl(linkedin_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Verne Jules Cabading</h1>
          <p>Tech Development Associate</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{bryan_photo}}" alt="">
          <div class="links">
            <a href="https://www.linkedin.com/in/brydribo/"><img [src]=sanitizeUrl(linkedin_icon) alt=""></a>
            <a href="https://github.com/bryyyanribo"><img [src]=sanitizeUrl(github_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Bryan Ribo</h1>
          <p>Tech Development Associate</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{kurt_photo}}" alt="">
          <div class="links">
            <a href="https://www.linkedin.com/in/kurt-r-acosta/"><img [src]=sanitizeUrl(linkedin_icon) alt=""></a>
            <a href="https://github.com/kuuuurt"><img [src]=sanitizeUrl(github_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Kurt Renzo Acosta</h1>
          <p>Tech Development Associate</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{janine_photo}}" alt="">
          <div class="links">
            <a href="https://twitter.com/_hijanineee"><img [src]=sanitizeUrl(twitter_icon) alt=""></a>
            <a href="https://www.linkedin.com/in/janine-fernandez2027"><img [src]=sanitizeUrl(linkedin_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Janine Fernandez</h1>
          <p>Logistics Lead</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{yanyan_photo}}" alt="">
          <div class="links">
            <a href="https://twitter.com/__spilledmilkk"><img [src]=sanitizeUrl(twitter_icon) alt=""></a>
            <a href="https://www.linkedin.com/in/dianaralene-derrada-bba92818b/"><img [src]=sanitizeUrl(linkedin_icon)
                alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Dianaralene Derrada</h1>
          <p>Programs and Logistics Associate</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{karl_photo}}" alt="">
          <div class="links">
            <a href="https://www.linkedin.com/in/karl-las-sin-5a0824140/"><img [src]=sanitizeUrl(linkedin_icon)
                alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Karl Las-sin</h1>
          <p>Communications Associate</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{clint_photo}}" alt="">
          <div class="links">
            <a href="https://www.linkedin.com/in/clinton-mendoza-9aa6621a0/"><img [src]=sanitizeUrl(linkedin_icon)
                alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Clinton Mendoza</h1>
          <p>Communications Associate</p>
        </div>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="community-member-photo">
          <img src="{{clifford_photo}}" alt="">
          <div class="links">
            <a href="https://www.linkedin.com/in/clifford-mcrey-benbinen-973b27159/"><img
                [src]=sanitizeUrl(linkedin_icon) alt=""></a>
          </div>
        </div>
        <div class="text-align-center">
          <h1 class="mdc-typography--headline6 team-member-name">Clifford Mcrey Benbinen</h1>
          <p>Documentations Head</p>
        </div>
      </div>
    </div>
  </div>
</section>
