<!-- <section>
  <div class="row row-padding-top row-padding-bottom">
    <h1>User</h1>
    <mat-card *ngIf="user" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{user: fullname}}</mat-card-title>
        <mat-card-subtitle>{{user: email}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis nobis sed officia ipsum fugit
          quae veritatis. Fugit ad ipsam tempora quaerat repellat ab. Debitis reprehenderit maxime ab voluptates iste.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngIf='user.active' (click)='updateActive(false)'>Inactive</button>
        <button mat-button *ngIf='!user.active' (click)='updateActive(true'>Active</button>
        <button mat-button color="warn" (click)='deleteUser()'>Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</section> -->

<div *ngIf="user">
  <div>
    <label>First Name: </label> {{user.fullname}}
  </div>
  <div>
    <label>email: </label> {{user.email}}
  </div>
  <div>
    <label>Active: </label> {{user.active}}
  </div>

  <span class="button is-small btn-primary" *ngIf='user.active' (click)='updateActive(false)'>Inactive</span>

  <span class="button is-small btn-primary" *ngIf='!user.active' (click)='updateActive(true)'>Active</span>

  <span class="button is-small btn-danger" (click)='deleteUser()'>Delete</span>

  <hr />
</div>
