<dashboard-top-bar></dashboard-top-bar>
<div class="app-drawer-layout mdc-top-app-bar--fixed-adjust">
  <!-- Drawer -->
  <aside class="mdc-drawer mdc-drawer--dismissible drawer">
    <dashboard-drawer></dashboard-drawer>
  </aside>
  <!-- Content -->
  <main class="mdc-drawer-app-content main-content">
    <section class="dashboard-row">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            RÉPONDEZ S’IL VOUS PLAÎT</div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
              <i class="material-icons mdc-text-field__icon">search</i>
              <input class="mdc-text-field__input" id="text-field-hero-input">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="text-field-hero-input" class="mdc-floating-label">Search</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <ul class="mdc-list mdc-list--two-line">
              <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__text">
                  <span class="mdc-list-item__primary-text">Two-line item</span>
                  <span class="mdc-list-item__secondary-text">Secondary text</span>
                </span>
              </li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__text">
                  <span class="mdc-list-item__primary-text">Two-line item</span>
                  <span class="mdc-list-item__secondary-text">Secondary text</span>
                </span>
              </li>
              <li class="mdc-list-item">
                <span class="mdc-list-item__text">
                  <span class="mdc-list-item__primary-text">Two-line item</span>
                  <span class="mdc-list-item__secondary-text">Secondary text</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>
