// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $gdgbaguio-primary: mat-palette($mat-indigo);
// $gdgbaguio-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $gdgbaguio-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $gdgbaguio-theme: mat-light-theme($gdgbaguio-primary, $gdgbaguio-accent, $gdgbaguio-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($gdgbaguio-theme);

// Color Theme
// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=3F51B5&secondary.color=FF4081&secondary.text.color=000000

$mdc-theme-primary: #3f51b5;
$mdc-theme-dark-primary: #002884;
$mdc-theme-light-primary: #757ce8;
$mdc-theme-secondary: #ff4081;
$mdc-theme-dark-secondary: #c60055;
$mdc-theme-light-secondary: #ff79b0;
$mdc-theme-error: #b00020;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;

@import 'material-components-web/material-components-web';
@import "@material/theme/mixins";

// @import "@material/button/mdc-button";
// @import '@material/card/mdc-card';
// // @import '@material/chips/mdc-chips';
// // @import '@material/data-table/mdc-data-table';
// @import '@material/dialog/mdc-dialog';
// @import '@material/drawer/mdc-drawer';
// @import '@material/fab/mdc-fab';
// // @import '@material/floating-label/mdc-floating-label';
// // @import '@material/form-field/mdc-form-field';
// @import '@material/icon-button/mdc-icon-button';
// @import '@material/layout-grid/mdc-layout-grid';
// // @import '@material/line-ripple/mdc-line-ripple';
// // @import '@material/linear-progress/mdc-linear-progress';
// @import '@material/list/mdc-list';
// @import '@material/menu/mdc-menu';
// @import '@material/menu-surface/mdc-menu-surface';
// // @import '@material/radio/mdc-radio';
// @import '@material/ripple/mdc-ripple';
// // @import '@material/select/mdc-select';
// // @import '@material/slider/mdc-slider';
// // @import '@material/snackbar/mdc-snackbar';
// // @import '@material/switch/mdc-switch';
// // @import '@material/tab/mdc-tab';
// // @import '@material/tab-bar/mdc-tab-bar';
// // @import '@material/tab-indicator/mdc-tab-indicator';
// // @import '@material/tab-scroller/mdc-tab-scroller';
// @import '@material/textfield/mdc-text-field';
// @import '@material/theme/mdc-theme';
// @import '@material/top-app-bar/mdc-top-app-bar';
// // @import '@material/touch-target/mdc-touch-target';
// @import '@material/typography/mdc-typography';

/* You can add global styles to this file, and also import other style files */

// @font-face {
//   font-family: GoogleSansRegular;
//   src: url('assets/fonts/GoogleSans-Regular-v1.27.ttf');
// }

// @font-face {
//   font-family: GoogleSansMedium;
//   src: url('assets/fonts/GoogleSans-Medium-v1.27.ttf');
// }

.material-icons {
  font-family: 'Material Icons' !important;
}

* {
  // font-family: "GoogleSansRegular", sans-serif !important;
  font-family: "Google Sans", sans-serif !important;
  color: #676c72;
}

body,
div {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  color: #212121 !important;
  font-weight: unset;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.5em;
}

p {
  margin: 0 0 18px 0;
}

.spacer {
  flex: 1;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: #1a73e8;
}

img,
video {
  border: 0;
  height: auto;
  max-width: 100%;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.loading {
  background-image: url('https://gifimage.net/wp-content/uploads/2018/04/loading-gif-android-12.gif');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 100px;
}

.dashboard-loading {
  background-image: url('https://www.monthlybrands.com.pk/wp-content/uploads/2018/03/google-icon-_1__1.gif');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 100px;
}

.meetup-loading {
  background-image: url('https://gifimage.net/wp-content/uploads/2018/04/loading-gif-android-12.gif');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

/* Layout */

.mdc-layout-grid {
  padding: 0 40px;
}

.gdgbaguio {
  height: 25px;
  margin-top: 10px;
}

.landing-row {
  padding: 100px 40px;
}

// .landing-row-group {
//   margin: 0 auto;
//   max-width: 1520px;
// }

.row-heading {
  margin: 0 auto 32px;
}

.text-align-center {
  text-align: center;
}

/* Colors */

.background-dark {
  background: #607d8b;
}

.background-grey {
  background: #eceff1;
}

.background-white {
  background: #fff;
}

/* Buttons */

.mdc-button {
  padding: 0 24px;
  @include mdc-theme-prop(background-color, $mdc-theme-primary);
  @include mdc-theme-prop(color, $mdc-theme-on-primary);
}

.mdc-card__action--button {
  margin-left: 0;
  margin-right: 8px;
}

.publish-icon-button {
  @include mdc-theme-prop(background-color, $mdc-theme-secondary);
  @include mdc-theme-prop(color, $mdc-theme-on-secondary);
}

.google-account-icon-button {
  padding: 4px;
  height: 40px;
  width: 40px;
}

.google-account-icon-button>img {
  height: auto;
  width: auto;
  border-radius: 50%;
}

.button-lg {
  font-size: 1em !important;
  padding: 1.5em 2.5em !important;
  line-height: 0em !important;
}

.volunteer-button {
  background-color: #F44336 !important;
}

.wtm-button {
  background-color: #009688 !important;
}

/* Text Fields */

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  @include mdc-theme-prop(color, $mdc-theme-primary);
}

/* Cards */

.event-featured-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.meetup-card-background {
  background-image: url('https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg');
  background-size: 150px;
  background-position-y: 38%;
}

.meetup-card-event-title {
  background: #3F51B5;
  color: #fff !important;
  padding: 5px 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.mdc-card__media-content {
  display: flex;
  align-items: flex-end;
}

.card__primary,
.card__secondary {
  padding: 0.5rem 0.7em;
}

.card__primary>h2,
.card__primary>h3 {
  font-weight: unset;
}

.card__title,
.card__subtitle {
  margin: 0;
}

// Google accoung icon and menu

#account-mdc-menu {
  top: 20px;
  width: 354px;
}

.menu-container {
  margin: 20px 33px;
}

.account-photo {
  height: 80px;
  width: 80px;
  margin: 0 auto 5px auto;
}

.account-photo>img {
  border-radius: 50%;
}

#account-mdc-menu>.mdc-list {
  padding: 0;
}

#account-mdc-menu>.mdc-list>li {
  padding: 0 40px;
}

.account-details {
  text-align: center;
}

.account-details>.displayname {
  font-weight: 500;
}

.account-menu-buttons {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.account-menu-buttons>button {
  margin: 25px 85px;
}

/* Footer */

footer {
  display: block !important;
}

.footer {
  padding: 30px 24px;
}

.footer-bar {
  padding: 30px 40px;
}

.copyright {
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.copyright>span {
  padding-right: 3px;
  font-size: 19px;
  margin-top: 3px;
}

.mobile-only {
  display: none;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
  .mobile-only {
    display: unset !important;
  }

  .desktop-only {
    display: none !important;
  }

  .mdc-top-app-bar__section--align-start {
    padding-left: 16px !important;
  }

  .mdc-top-app-bar__section--align-end {
    padding: 0 16px !important;
    width: auto !important;
  }

  .mdc-top-app-bar__navigation-icon--unbounded {
    margin-right: 10px;
  }

  #signin-button {
    padding: 0px 5px;
    text-transform: unset;
  }

  .landing-row {
    padding: 20px 16px;
  }

  .mdc-layout-grid {
    padding: 0;
  }

  .about-landing-row {
    padding-top: 20px !important;
  }

  .about-landing-row-content {
    padding: 0 !important;
  }

  .about-landing-row-content div div p {
    font-size: 14px !important;
  }

  // .what-we-do-landing-row {
  //   padding: 40px 0 !important;
  // }

  .mdc-card__action-buttons {
    display: block;
  }

  .mdc-card__action-buttons>a,
  .meetup-event-link>a {
    margin: 5px 0;
    width: 100%;
  }

}
