<!-- <site-top-bar></site-top-bar> -->
<section class="landing-row events-landing-row background-grey">
  <div *ngIf="firestoreOngoingEvents && ongoingEvents_count != 0" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Ongoing events</h1>
    </div>
    <div *ngFor="let firestoreOngoingEvent of firestoreOngoingEvents" class="mdc-layout-grid__inner planned-events-row">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <img src="{{firestoreOngoingEvent.featured_photo.highres_link}}" alt="featured photo">
      </div>
      <div
        class="mdc-layout-grid__cell event-description-column mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <h1 class="mdc-typography--headline5"><a
            href="events/{{firestoreOngoingEvent.id}}">{{firestoreOngoingEvent.name}}</a></h1>
        <div *ngIf="firestoreOngoingEvent.is_online_event == false" class="location desktop-only">
          <i class="material-icons mdc-button__icon">location_on</i>
          <div>
            <span>{{firestoreOngoingEvent.venue.name}}</span> <br>
            <span>{{firestoreOngoingEvent.venue.address_1}} {{firestoreOngoingEvent.venue.city}},
              {{firestoreOngoingEvent.venue.localized_country_name}}</span>
          </div>
        </div>
        <div *ngIf="firestoreOngoingEvent.is_online_event == true" class="location desktop-only">
          <i class="material-icons mdc-button__icon">location_on</i>
          <div>
            <span>{{firestoreOngoingEvent.venue.name}}</span> <br>
          </div>
        </div>
        <div class="event-date desktop-only"><i class="material-icons mdc-button__icon">calendar_today</i>
          <span>{{firestoreOngoingEvent.local_date}}</span></div>
        <div class="event-description" [innerHTML]="firestoreOngoingEvent.description"></div>
        <div class="meetup-event-link">
          <a *ngIf="firestoreOngoingEvent.is_online_event" href="{{firestoreOngoingEvent.how_to_find_us}}"
            target="_blank" class="mdc-button mdc-button--unelevated youtube-stream-button-live">
            <span class="mdc-button__ripple"></span> <i class="material-icons mdc-button__icon">view_stream</i> Watch
            Session</a>
          <a *ngIf="ongoingEventShowRegisterButton" href="{{firestoreOngoingEvent.link}}" target="_blank"
            class="mdc-button mdc-button--unelevated">
            <span class="mdc-button__ripple"></span> Register now</a>
          <a *ngIf="ongoingEventShowWaitlistButton" href="{{firestoreOngoingEvent.link}}" target="_blank"
            class="mdc-button mdc-button--unelevated">
            <span class="mdc-button__ripple"></span> Join the waitlist</a>
          <a href="events/{{firestoreOngoingEvent.id}}" class="mdc-button mdc-card__action mdc-card__action--button">
            <span class="mdc-button__ripple"></span>
            <!-- <i class="material-icons mdc-button__icon desktop-only">more_horiz</i> -->
            <span class="mdc-button__label">Read
              more</span></a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="firestoreUpcomingEvents && upcomingEvents_count != 0" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Upcoming events</h1>
    </div>
    <div *ngFor="let firestoreUpcomingEvent of firestoreUpcomingEvents"
      class="mdc-layout-grid__inner planned-events-row">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <img src="{{firestoreUpcomingEvent.featured_photo.highres_link}}" alt="featured photo">
      </div>
      <div
        class="mdc-layout-grid__cell event-description-column mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <h1 class="mdc-typography--headline5"><a
            href="events/{{firestoreUpcomingEvent.id}}">{{firestoreUpcomingEvent.name}}</a></h1>
        <div *ngIf="firestoreUpcomingEvent.is_online_event == false" class="location desktop-only">
          <i class="material-icons mdc-button__icon">location_on</i>
          <div>
            <span>{{firestoreUpcomingEvent.venue.name}}</span> <br>
            <span>{{firestoreUpcomingEvent.venue.address_1}} {{firestoreUpcomingEvent.venue.city}},
              {{firestoreUpcomingEvent.venue.localized_country_name}}</span>
          </div>
        </div>
        <div *ngIf="firestoreUpcomingEvent.is_online_event == true" class="location">
          <i class="material-icons mdc-button__icon">location_on</i>
          <div>
            <span>{{firestoreUpcomingEvent.venue.name}}</span> <br>
          </div>
        </div>
        <div class="event-date desktop-only"><i class="material-icons mdc-button__icon">calendar_today</i>
          <span>{{firestoreUpcomingEvent.local_date}}</span></div>
        <div class="event-description" [innerHTML]="firestoreUpcomingEvent.description"></div>
        <div class="meetup-event-link">
          <a *ngIf="firestoreUpcomingEvent.is_online_event" href="{{firestoreUpcomingEvent.how_to_find_us}}"
            target="_blank" class="mdc-button mdc-button--unelevated youtube-stream-button">
            <span class="mdc-button__ripple"></span> <i class="material-icons mdc-button__icon">view_stream</i> Watch
            Session</a>
          <a *ngIf="upcomingEventShowRegisterButton" href="{{firestoreUpcomingEvent.link}}" target="_blank"
            class="mdc-button mdc-button--unelevated">
            <span class="mdc-button__ripple"></span> Register now</a>
          <a *ngIf="upcomingEventShowWaitlistButton" href="{{firestoreUpcomingEvent.link}}" target="_blank"
            class="mdc-button mdc-button--unelevated">
            <span class="mdc-button__ripple"></span> Join the waitlist</a>
          <a href="events/{{firestoreUpcomingEvent.id}}" class="mdc-button mdc-card__action mdc-card__action--button">
            <span class="mdc-button__ripple"></span>
            <!-- <i class="material-icons mdc-button__icon desktop-only">more_horiz</i> -->
            <span class="mdc-button__label">Read
              more</span></a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="ongoingEvents_count == 0 && upcomingEvents_count == 0" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Upcoming events</h1>
      <p>No ongoing or upcoming events</p>
    </div>
  </div>
</section>

<section class="landing-row recent-events-landing-row">
  <div *ngIf="firestoreRecentEvents" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Recent events</h1>
    </div>
    <div class="mdc-layout-grid__inner">
      <div *ngFor="let firestoreRecentEvent of firestoreRecentEvents"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="mdc-card recent-event-card">
          <div class="mdc-card__primary-action" tabindex="0">
            <div class="mdc-card__media mdc-card__media--16-9"
              [ngStyle]="{'background-image': 'url(' + firestoreRecentEvent.featured_photo.highres_link + ')'}">
            </div>
            <div class="card__primary">
              <h2 class="card__title mdc-typography mdc-typography--headline6 recent-event-title">
                <a href="events/{{firestoreRecentEvent.id}}">{{firestoreRecentEvent.name}}</a>
              </h2>
              <h3 class="card__subtitle mdc-typography mdc-typography--subtitle2">{{firestoreRecentEvent.local_date}}
              </h3>
            </div>
            <div [innerHTML]="firestoreRecentEvent.description"
              class="card__secondary mdc-typography mdc-typography--body2 recent-event-description"></div>
          </div>
          <div class="mdc-card__actions">
            <div class="mdc-card__action-buttons">
              <a *ngIf="firestoreRecentEvent.is_online_event" href="{{firestoreRecentEvent.how_to_find_us}}"
                target="_blank" class="mdc-button mdc-button--unelevated youtube-stream-button">
                <span class="mdc-button__ripple"></span> <i class="material-icons mdc-button__icon">view_stream</i>
                Watch Session</a>
              <a href="events/{{firestoreRecentEvent.id}}" class="mdc-button mdc-card__action mdc-card__action--button">
                <span class="mdc-button__ripple"></span>
                <!-- <i class="material-icons mdc-button__icon">more_horiz</i> -->
                <span class="mdc-button__label">Read
                  more</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!firestoreRecentEvents" class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Recent events</h1>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 loading" style="height: 370px;"></div>
  </div>
</section>

<section class="landing-row past-events-landing-row background-grey">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell">
      <h1 class="mdc-typography--headline4 row-heading">Directory of past events</h1>
    </div>
    <div *ngIf="firestorePastEvents" class="mdc-layout-grid__cell">
      <div id="events-mdc-data-table" class="mdc-data-table">
        <table class="mdc-data-table__table" aria-label="GDG Baguio past events">
          <thead style="display: none;">
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader"
                scope="col">Date</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Title</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Venue</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Address</th>
            </tr>
          </thead>
          <tbody class="mdc-data-table__content">
            <tr *ngFor="let firestorePastEvents of firestorePastEvents" class="mdc-data-table__row">
              <td class="mdc-data-table__cell">{{firestorePastEvents.local_date}}</td>
              <td class="mdc-data-table__cell"><a href="events/{{firestorePastEvents.id}}"
                  class="events-mdc-data-table__row">{{firestorePastEvents.name}}</a></td>
              <td class="mdc-data-table__cell">{{firestorePastEvents.venue.name}}</td>
              <td *ngIf="firestorePastEvents.is_online_event"
                class="mdc-data-table__cell mdc-data-table-cell-height-56dp">
                <a href="{{firestorePastEvents.how_to_find_us}}">Watch Session</a>
              </td>
              <td *ngIf="!firestorePastEvents.is_online_event"
                class="mdc-data-table__cell mdc-data-table-cell-height-56dp">{{firestorePastEvents.venue.address_1}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!firestorePastEvents" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 loading">
    </div>
  </div>
</section>
