.events-landing-row,
.event-details-landing-row {
  margin-top: 47px;
}

.events-landing-row,
.past-events-landing-row,
.recent-events-landing-row,
.event-details-landing-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.events-landing-row .mdc-layout-grid,
.past-events-landing-row .mdc-layout-grid,
.recent-events-landing-row .mdc-layout-grid {
  padding-left: 0;
  padding-right: 0;
}

.event-description-column {
  margin-left: 10%;
}

.event-details-featured-photo {
  margin-bottom: 16px;
}

#events-mdc-data-table {
  width: 100%;
}

.events-mdc-data-table__row {
  color: #1a73e8;
}

.recent-event-title {
  text-transform: uppercase;
}

.recent-event-description {
  height: 85px;
  max-height: 85px;
  font-size: 18px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), transparent);
  border-bottom: 1px solid #dadce0;
}

.meetup-event-link {
  margin: 20px 0;
}

.meetup-event-link>a {
  margin-right: 15px;
}

.event-date,
.location {
  display: flex;
  margin-bottom: 10px;
}

.event-date>i {
  font-size: 18px;
  margin: 0 11px;
}

.location>i {
  font-size: 22px;
  margin: 0 9px;
}

.event-description {
  margin-top: 10px;
  height: 98px;
  overflow-y: hidden;

  p {
    margin-bottom: 8px !important;
  }
}

.coorganizer {}

.member-info {
  display: flex;
  flex-direction: column;
}

.member-photo {
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  align-self: center;
}

.member-name {
  margin: 10px 0 0 0;
  font-size: 14px;
  text-align: center;
}

.planned-events-row {
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
  .event-details-landing-row {
    padding-top: 45px;
  }

  .event-description-column {
    margin-left: 0;
  }

  .meetup-event-link>a {
    font-size: 1em !important;
    padding: 1.5em 2.5em !important;
    line-height: 0em !important;
  }
}
