<div class="mdc-card basic-with-text-over-media">
  <div class="mdc-card__primary-action card__primary-action" tabindex="0">
    <div *ngIf="draftEvents_count || draftEvents_count!=0"
      class="mdc-card__media mdc-card__media--16-9 card__media meetup-card-draft-ongoing-background">
      <div class="mdc-card__media-content card__media-content">
        <div *ngFor="let draftEvent of draftEvents" class="card__primary">
          <h2 class="card__title mdc-typography mdc-typography--headline6 meetup-card-draft-ongoing-title">
            {{draftEvent.name}}</h2>
        </div>
      </div>
    </div>
    <div *ngIf="!draftEvents_count || draftEvents_count==0"
      class="mdc-card__media mdc-card__media--16-9 card__media meetup-loading">
      <div class="mdc-card__media-content card__media-content">
        <div class="card__primary">
          <h2 class="card__title mdc-typography mdc-typography--headline6">
            Nothing drafted.</h2>
        </div>
      </div>
    </div>
    <div *ngIf="draftEvents_count || draftEvents_count!=0" class="card__secondary mdc-typography mdc-typography--body2">
      <ng-container *ngFor="let draftEvent of draftEvents">
        {{draftEvent.local_date}}
      </ng-container>
    </div>
    <div *ngIf="!draftEvents_count || draftEvents_count==0"
      class="card__secondary mdc-typography mdc-typography--body2">
      Lorem ipsum dolor sit amet consectetur.
    </div>
  </div>
  <div *ngIf="draftEvents_count || draftEvents_count!=0" class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <button class="mdc-button mdc-card__action mdc-card__action--button"> <span class="mdc-button__ripple"></span>
        Action</button>
    </div>
    <div class="mdc-card__action-icons">
      <div class="mdc-card__action-icons">
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="Edit"
          data-mdc-ripple-is-unbounded="true">create</button>
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded"
          title="More options" data-mdc-ripple-is-unbounded="true">more_vert</button>
      </div>
    </div>
  </div>
  <div *ngIf="!draftEvents_count || draftEvents_count==0" class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <button class="mdc-button mdc-card__action mdc-card__action--button" disabled> <span
          class="mdc-button__ripple"></span>
        Action</button>
    </div>
    <div class="mdc-card__action-icons">
      <div class="mdc-card__action-icons">
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="Edit"
          data-mdc-ripple-is-unbounded="true" disabled>create</button>
        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded"
          title="More options" data-mdc-ripple-is-unbounded="true" disabled>more_vert</button>
      </div>
    </div>
  </div>
</div>

<!-- <ng-container *ngIf="!draftEvents_count || draftEvents_count==0">
  <div class="mdc-card basic-with-text-over-media loading" style="height: 100%;"></div>
</ng-container> -->
